{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% include 'layout.html' %}


{% block content %}

<div class="container">
	<div class="row">
		
			<!-- Button and textform -->
			

			<div class="cart col">
				<div class="table-responsive">
				<table class="table table-sm borderless caption-top">
				<caption>Nuvarande beställning:</caption>
					<thead>
						<tr>
							<th scope="col">Vara</th>
							<th scope="col">Pris</th>
							<th scope="col">Specialkost</th>
						</tr>
					</thead>
					<tbody>
						{% for item in current_items %}
						<tr onclick="window.location='/item/{{ item.item_id }}';">
							<td>{{ item.product.name }}</td>
							<td>{{ item.product.cost }}</td>
							
							{% if item.diet != None %}
							<td>{{ item.diet }}</td>
							{% else %}
							<td></td>
							{% endif %}						
						</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>
				<hr style="width: 50%;">
				<h3>Total summa: {{ item_sum }}</h3>
			</div>


			<div class="col-sm-6 products">
			{% for product in products %}
				<button type="button" onclick="window.location.href='/add_to_cart/{{ product.product_id }}';" class="btn btn-light btn-lg item-button">{{ product.name }} <br><sub>{{ product.category }}</sub></button>
			{% endfor%}
			</div>

	</div>
			<div class="">
			<button type="button" class="btn-lg btn-danger trash-button" onclick="window.location.href='/remove_order';">
				<span class="glyphicon glyphicon-trash"></span>  Töm kundvagn
			</button>
			</div>


			<div class="form">
			{{ wtf.quick_form(form) }}
			</div>
	<div style="margin-bottom: 100px;"></div>
</div>


{% endblock %}