body {
		background: #fafafa;
		color: #333333;
		margin-top: 5rem;
	}
	
	h1, h2, h3, h4, h5, h6 {
		color: #444444;
	}


	
	.item {
		outline: solid;
		border-radius: 3px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		margin-bottom: 10px;
		min-width: 250px;
		width: fit-content;
	}

	.product-item {
		outline: solid;
		border-radius: 4px;
		padding-left: 5px;
		width: 50%;
		font-size: large;
		margin-bottom: 50px;
	}

	tr {
		outline-color: black;
	}

	tr:hover, .item-button:hover {
		background-color: rgb(222, 248, 255); }


	caption {
		font-size: x-large;
	}

	td, th, a {
		font-size: large;
	}
	.table-responsive {
		width: 100%;
	}

	.item-button {
		margin: 5px;
		/* min-width: fit-content; */
		width: 200px;
		height: 75px;
		background-color: rgb(222, 248, 255);
		color: black;
	}

	/* .item-button:hover {
		outline-width: 5px;
		outline-color: rgb(222, 248, 255);
	} */

		table.borderless td,table.borderless th{
		 border: none !important;
	}

	.products { margin-bottom: 5%;	}

	.form, .trash-button{ 
		width: 200px; 
		margin-bottom:5%;
	}

	.order_id, .order_id[disabled] {
		width: 150px;
		height: 75px;
		border-radius: 5px;
		/* text-align: center;
		padding-top: 12px; */
		font-size: 30px;
		cursor: default;
		margin: 10px;
		color: whitesmoke;
	}
	
	.kitchen_btn {
		width: 150px;
		height: 75px;
		border-radius: 5px;

		font-size: 30px;
		cursor: default;
		margin: 10px;
		color: black;
	}


	@media (max-width : 400px) {
		.container {
			width: 95%;
		}
		.item-button {
			width: 100%;
		}

	}
