body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }


  
  /* .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  } */


/* FIX LAYOUT */
  .cart {
    /* padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 8px; */
  }

  .item {
	outline: solid;
	border-radius: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
	min-width: 250px;
	width: fit-content;
  }


	tr {
		outline-color: black;
	}

	tr:hover, .item-button:hover {
		background-color: rgb(222, 248, 255); }


	caption {
		font-size: x-large;
	}

	td, th, a {
		font-size: large;
	}
	.table-responsive {
		width: 100%;
	}

	.item-button {
		margin: 5px;
		/* min-width: fit-content; */
		width: 200px;
		height: 75px;
		background-color: rgb(222, 248, 255);
		color: black;
	}

	/* .item-button:hover {
		outline-width: 5px;
		outline-color: rgb(222, 248, 255);
	} */

    table.borderless td,table.borderless th{
     border: none !important;
	}

	.products { margin-bottom: 5%;	}

	.form, .trash-button{ 
		width: 200px; 
		margin-bottom:5%;
	}
	
	@media (max-width : 400px) {
		.container {
			width: 95%;
		}
		.item-button {
			width: 100%;
		}

	}