{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% include 'layout.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm border-end">
            <h1 style="text-align: center;">Väntande ordrar</h1>
    
                {% for order_id in orders_placed %}
                <button type="button" onclick="window.location.href='/';" class="btn btn-lg btn-secondary order_id" style="background-color: blue;">{{ order_id }}</button>
                {% endfor %}
        </div>
        <div class="col-sm border-start">
            <h1 style="text-align: center;">Tillagas</h1>
    
                {% for order_id in orders_cooking %}
                <button type="button" onclick="window.location.href='/';" class="btn btn-lg btn-secondary kitchen_btn" style="background-color: yellow;">{{ order_id }}</button>
                {% endfor %}
                
        </div>
        <div class="col-sm border-start">
            <h1 style="text-align: center;">Klara</h1>
                {% for order_id in orders_done %}
                <button type="button" onclick="window.location.href='/';" class="btn btn-lg btn-secondary kitchen_btn" style="background-color: green;">{{ order_id }}</button>
                {% endfor %}
        </div>
    </div>

</div>
{% endblock %}